  .sponsorBlockCategory {
}
.sponsorBlockCategory {
  }
  font-size: x-large;
  padding-block: 0;
}

@media only screen and (width <= 680px) {
}
  margin-block-start: 30px;
    inline-size: 100%;
.sponsorTitle {

  padding-inline: 10px;
