  grid-template-rows: auto auto;
  display: inline-block;
  font-size: 18px;
    max-inline-size: max-content;
.header {
  inline-size: 20px;
  block-size: 20px;
.buttons {
}
  background: var(--tertiary-text-color);

    grid-auto-flow: row;
  .shareLinks {
.action {
    max-inline-size: min-content;
  inline-size: 1px;
    justify-items: center;
  .buttons {

  inline-size: auto;
@media only screen and (width <= 450px) {
.invidiousLogo {
.invidious {

    margin-inline: auto;
  margin-block: 4px 8px;
  display: grid;
  max-inline-size: min-content;

  }
  color: var(--primary-text-color);

  margin-inline: 0;
  display: flex;
.divider {

  display: flex;
}
    display: none;
  }
  white-space: initial;
}
  min-inline-size: 150px;

  letter-spacing: -0.4px;

}
  background-size: cover;
  justify-content: center;
  font-weight: bold;
    min-inline-size: 180px;
  flex-direction: column;
  inline-size: max-content;

  grid-row: span 3;
}
}
  margin-inline: 12px;
  grid-auto-flow: column;
.shareLinks {
  }
  .header.invidious {
  margin-inline-end: 2px;
  padding: 12px;
  .divider {


  padding: 6px;
}
  margin-block: 0;
  block-size: 18px;
  }
}
.youtubeLogo {
}
    margin-block-start: 20px;
