h2,
}
    inline-size: 90%;
.card {

}
  margin-inline: auto;
@media only screen and (width <= 680px) {
  .card {
  inline-size: 85%;
}

  text-align: center;
  margin-block: 0 15px;
  }
.selectedCount {
