  -webkit-box-orient: vertical;
  }

  flex-direction: column;
  display: grid;
}
  flex-grow: 0;
  }
  gap: 2.5rem;
  text-decoration: none;
.thumbnailContainer {
    block-size: 80px;
  inline-size: 100%;
.count {
  color: inherit;
.channel {
  border-radius: 50%;


    gap: 1.5rem;
}
    inline-size: 90%;

}
  inline-size: 85%;
}
.card {
  margin-block-start: 2rem;
  display: flex;
  color: var(--tertiary-text-color);

  flex-grow: 0;

.channelName {
.unsubscribeContainer .btn {
.channels {
}
  overflow-wrap: break-word;

}
  display: flex;
  inline-size: 100%;

  color: var(--primary-color);

  margin-block-start: 1rem;
  padding: 0.5rem;
  row-gap: 0.75rem;

.message {
}
  .card {
  flex-grow: 1;
  block-size: 80%;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  display: -webkit-box;
  align-items: center;
@media only screen and (width <= 680px) {
.headingIcon {
}
  font-size: 1.1rem;
}
  text-overflow: ellipsis;
  display: flex;
  overflow: hidden;
  .channelThumbnail {
}

  -webkit-line-clamp: 3;
  margin-inline: auto;
  block-size: 120px;
.channelThumbnail {
  }
  .channels {

  padding-inline: 4px;
  line-clamp: 3;
  margin-block: 0 60px;
  color: inherit;
  align-items: center;

}
.unsubscribeContainer {
  align-items: center;
}
  padding-block: 0;
  text-align: center;
