  inline-size: 100%;
  color: var(--primary-color);


  inline-size: 85%;
  line-height: 45px;
  color: var(--side-nav-hover-text-color);
  background-color: var(--side-nav-hover-color);

}
}
  margin-block-start: 16px;
.headingIcon {
  .card {
  cursor: pointer;
  margin-block: 0 60px;
.getNextPage:hover,
  margin-inline: auto;
}
  text-align: center;
.getNextPage {
  }
}
  background-color: var(--search-bar-color);
.card {
    inline-size: 90%;
  block-size: 45px;
.getNextPage:focus {

}
@media only screen and (width <= 680px) {
