    margin-block: 60px -75px;

@font-face {
.changeLogTitle {
  .banner {
  margin-block: 0;
  }

}
  padding-inline: 16px;
  display: block;
}
}
  inline-size: 85%;
  margin-inline: 10px;
  overflow-y: scroll;
}
  margin-block-end: 16px;
  margin-inline: 10px;
    margin-block: 60px 0;
  overflow-wrap: break-word;

  .changeLogText {
  block-size: 100%;
  flex-wrap: wrap;

  src: url('assets/font/Roboto-Regular.ttf');
  }
  }
  padding-inline: 16px;

  overflow-wrap: break-word;
  flex: 1 1 0%;

  margin-block: 40px 0;
}
}
  margin-inline: auto;
.banner-wrapper {
  font-family: Roboto;

  .routerView {
  }

  display: flex;
.app {
  block-size: 40vh;
  transition: opacity 0.15s;
}
  margin-block: 18px;
  opacity: 0;
  margin-block-end: 16px;
.changeLogText {
.banner {

.routerView {
  margin-block: 20px;

    margin-inline: 8px;
.fade-leave-to {

.fade-leave-active {
  user-select: unset;
}

}

  display: block;
.flexBox {
    margin-block: 68px;
  .flexBox {
.fade-enter-active,
    block-size: 65vh;
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

    inline-size: 90%;
.banner + .banner {
@media only screen and (width <= 680px) {
}
}
.fade-enter-from,
