  --accent-color-visited: #c1c870;

  }
}
  --side-nav-active-color: #0e1316;
.mainCatppuccinMochaRed {
  --accent-color-active: #d3869b;
  --title-color: #3c4a52;

}
  --title-color: #3c4a52;
}
.secPurple,
.mainPurple {

  --primary-color-active: #d8a0a0;
  --primary-color: #a6e3a1;
}

.secSolarizedYellow {
  --primary-color-hover: #a5b920;
.youtubeLogo {

  --accent-color-visited: #6fc75f;
.mainEverforestDarkPurple,
}
.black {
  --primary-color: #f5c2e7;
  --accent-color-visited: #4a148c;
.secEverforestDarkOrange {
.mainTeal {
  --side-nav-hover-color: #665c54;
  --accent-color-visited: #827717;
}
  --accent-color-rgb: 186 16 29;
.mainCatppuccinFrappeRosewater,
  --accent-color-active: #e0a0d0;
  --primary-color: #a6d189;
  --primary-color-hover: #eb6b36;
.secGruvboxDarkGreen {
  --primary-color: #ea999c;
  --accent-color-rgb: 167 192 128;
  --bg-color: #333c43;
}

  --primary-color: #ffc107;

  --scrollbar-color: #44475a;
  --accent-color-light: #8fcbc3;
.secCatppuccinFrappeYellow {
  --primary-color-hover: #e89e9f;
.secRed {
  --accent-color-active: #6a739a !important;
  --top-bar-push-down-adjustment-default: -35px;

}
  --tertiary-text-color: #a6adc8;

  --accent-color-opacity3: rgb(255 255 255 / 16%) !important;
.secDraculaPink {
.everforestLightLow {
  --primary-color: #ff79c6;
  --primary-color-hover: #f7c0a0;
}
  --primary-color-hover: #fcd54f;
}
  --favorite-icon-color: #0f0;
  --primary-color: #eebebe;
  --scrollbar-color-hover: #4d5b56;
  /* The hot pink theme does not have a great color contrast with
  --text-with-accent-color: #fbf1c7;
  --accent-color-rgb: 230 152 117;
.secGruvboxLightRed,
  --text-with-accent-color: #f8f8f2;
}
  --accent-color-rgb: 215 153 33;
}
.mainEverforestDarkPurple {

.mainCatppuccinMochaMauve,
  --accent-color-rgb: 233 30 99;

  --accent-color-hover: #5e35b1;
  --accent-color-rgb: 241 250 140;
  --logo-icon-bar-color: url('../../_icons/iconCatppuccinMochaDarkSmall.svg');
  --text-with-accent-color: #1e2326;
.secCatppuccinFrappeRosewater {
  --accent-color-active: #7dd2e4;
  --accent-color-rgb: 223 160 0;

  --primary-color: #f55;
  --side-nav-active-color: #959595;
  --logo-icon: url('../../_icons/iconEverforestLightMediumSmall.svg');
  --search-bar-color: #eae4ca;
  --accent-color-visited: #458588;
.mainEverforestLightBlue {
  --primary-color-active: #c62828;
  --text-with-accent-color: #1d2021;
  --accent-color-active: #87b96f;
  --accent-color-rgb: 80 250 123;

  --accent-color-rgb: 187 188 242;
  --accent-color-active: #6593df;

}
  --card-bg-color: #ebdbb2;
  --logo-secondary-color: #29abe1;
  --text-with-main-color: #000;
}
  --primary-color-active: #6c8dbf;
  --scrollbar-color: #414141;
  --accent-color-visited: #6b8fcf;
}

.secCatppuccinMochaPink,
  --accent-color-hover: #f3e0e8;
}
  --tertiary-text-color: #204b56;
  --secondary-text-color: #361836;
  --primary-color: #eba0ac;
  --accent-color-light: #f4fba3;

  --accent-color-active: #6b8fcf;

.mainSolarizedYellow,
  --accent-color-visited: #c84f9a;
  --accent-color-active: #dca3cd;
  --accent-color-visited: #c44;
  --primary-color-hover: #eabbc3;
.mainDraculaCyan,

a:visited {
  --accent-color-hover: #92d0c6;
.mainDraculaYellow {
  --primary-color: #000 !important;


.mainLightBlue,
  --accent-color-active: #d68360;
.mainCatppuccinFrappePink {

}
.nordic,
.secCatppuccinFrappeRed {
  --logo-icon-bar-color: url('../../_icons/iconCatppuccinLatteLightSmall.svg');
  --accent-color-rgb: 255 87 34;
  --accent-color-rgb: 176 20 96;
  --primary-color-hover: #00897b;
  --accent-color-active: #e1c8c3;
.mainGruvboxDarkPurple {
  --accent-color-hover: #f2804f;
}
  --primary-color: #cb4b16;
  --primary-color-active: #b64f00;
  --accent-color-active: #837720;
  --accent-color-hover: #68948a;
  --primary-color-hover: #ffb300;

  --accent-color-hover: #ddc98f;
.mainCatppuccinFrappeMaroon {
.secCatppuccinFrappeGreen,
/* stylelint-enable no-descending-specificity */
  --accent-color-light: #fe8019;
::-webkit-scrollbar-thumb:focus {

  --scrollbar-color-hover: #282828;
  --accent-color-light: #d2d8fe;
  --accent-color-light: #e6ee9c;
}
  --side-nav-color: #204b56;
  --accent-color-rgb: 255 235 59;
  --accent-color-rgb: 255 193 7;
  --accent-color-active: #d86f71;
  --side-nav-color: #2e3440;
  --accent-color-hover: #9dbf0f;
  --accent-color-light: #f8e9f2;
  --logo-text: url('../../_icons/textSolarizedDarkSmall.svg');

  --accent-color-active: #de7693;
  --primary-color-hover: #f4511e;
  --accent-color-rgb: 214 93 14;
.secTeal,
  --primary-color: #e67e80;
  --side-nav-hover-text-color: var(--primary-text-color);
/* stylelint-enable no-descending-specificity */
  --side-nav-active-color: #303030;
.mainOrange,

  --primary-shadow-color: rgb(200 200 200 / 75%);

    transition: none !important;
  --accent-color-visited: #64c2d3;
.gruvboxLight,

  --accent-color-light: #ce93d8;
  --accent-color-active: #d66f71;
.mainCatppuccinMochaPink,
  --destructive-hover-color: #e53935;
  --primary-color-active: #d87c80;
.secCatppuccinFrappeSapphire,
body[dir='rtl'] [data-prefix='fas']:not([data-icon='magnifying-glass'], [data-icon='circle-question'], [data-icon='check']) {
  --logo-icon-bar-color: url('../../_icons/iconDraculaDarkSmall.svg');
  --scrollbar-color: #c8c3aa;
.secCatppuccinFrappeLavender {

.mainEverforestLightRed,
  --primary-color: #fab387;
.everforestDarkMedium {
  --destructive-color: #ff9800;
  --accent-color-light: #ffc689;

  --text-with-accent-color: #fdf6e3;
  --side-nav-color: #262626;
  --accent-color-visited: #7b8f00;
  --logo-text-bar-color: url('../../_icons/textDraculaLightSmall.svg');
}
.secCatppuccinMochaPink {

  --accent-color-rgb: 204 36 29;

  --accent-color-light: #fc9;
}
  --logo-text: url('../../_icons/textEverforestLightHardSmall.svg');
  --accent-color-rgb: 219 188 127;
  --accent-color-hover: #db8140;
  --favorite-icon-color: #0f0;

.secCatppuccinMochaPeach {
  --scrollbar-color-hover: #aeb5a2;
  --title-color: #d3c6aa;
}
  --primary-color-active: #6fa9a0;
  --primary-color-hover: #bd2026;
  --accent-color-hover: #b1c98f;
  }
  --primary-color-active: #f5c940;
  --primary-color-hover: #c9d0ff;
  --accent-color-hover: #f3d7d7;
  --accent-color-active: #a8a9f2;
  --accent-color-light: #f7b0b3;
  --card-bg-color: #efe8d4;
  --tertiary-text-color: #999;
  --primary-color-hover: #c88b00;
  When adding a new base theme, add that --bg-color to src/main/index.js.
}
}
}
  --logo-tertiary-color: #fff;

.mainYellow,
.secSolarizedCyan {
.secIndigo,

  --accent-color-opacity1: rgb(var(--accent-color-rgb) / 4%);
  --accent-color-visited: #d8b07f;

  --card-bg-color: #1e2326;
.secCatppuccinFrappePeach,
  --accent-color-active: #283593;
.mainCatppuccinFrappeGreen,

.mainCatppuccinFrappeTeal,
  --search-bar-color: #f8f5e4;
  accessibility concerns. */
  --accent-color-light: #fe8019;
  --accent-color-visited: #2ca998;
  --primary-color: #50fa7b;
  --primary-text-color: #eee;
  --bg-color: #002b36;
/* Arabic, Kurdish, Persian and Urdu have a reversed question mark, but not Hebrew and Yiddish */
}
  --accent-color-hover: #f9e7bf;

  --side-nav-hover-color: #cef4f1;
  --accent-color-visited: #ff6f00;
.mainOrange {
  --accent-color-rgb: 101 119 0;
  --primary-color-active: #e0bfb9;
  --accent-color-light: #b8bb26;
.mainCatppuccinMochaSky {

  --text-with-main-color: #24273a;


.secGruvboxDarkGreen,
}
  --primary-text-color: #212121;
}
  --bg-color: #fffbef;
  --accent-color-active: #c62828;
  --primary-color: #25976c;
.secEverforestDarkGreen {
.secCatppuccinMochaYellow,
  --text-with-accent-color: #24273a;
  --accent-color-light: #d6b9f9;
  --primary-color-active: #cf7fb1;
  --primary-color-active: #8d98e4;
.secEverforestDarkRed,
.nordic {
.secCatppuccinLatteRed {
  --accent-color-rgb: 245 224 220;
  --primary-color-active: #e1c8c3;
  --accent-color-active: #00695c;
  --accent-color-active: #1c9788;
.mainCatppuccinMochaRosewater {

.system[data-system-theme*='light'],
.secEverforestLightAqua {

.mainEverforestDarkBlue,
  --red-500: #f44336;
.mainCatppuccinFrappeSapphire,
}


}
  --accent-color-hover: #f0b839;


  --tertiary-text-color: #eee;
}
body:not(.hotPink, .pastelPink) {
  --accent-color-light: #c5d940;
  --text-with-main-color: #fff;

  --favorite-icon-color: #760278;

}
  --accent-color-rgb: 203 159 231;
}
  --accent-color-rgb: 214 93 14;
.secCatppuccinMochaSapphire {
  --accent-color-visited: #bf360c;
.secGruvboxDarkAqua {

  --primary-color-active: #00838f;
.secCatppuccinMochaSky {
.mainAmber,
  --accent-color-visited: #6ab6d7;
.secEverforestDarkBlue {
  --logo-icon-bar-color: url('../../_icons/iconGruvboxDarkSmall.svg');
}
  /* For the 'About' page, show the logo with the primary text color by default */
  --accent-color-active: #d9e17e;
  --accent-color-light: #f8eae7;
.secCatppuccinFrappeTeal {
  --side-nav-active-color: #3b4252;
}
.secCatppuccinFrappeLavender {
}

.secCatppuccinFrappePeach {
/*************** LIGHT THEME ADJUSTMENTS ***************/
  --primary-color-active: #dca3cd;
}


  --accent-color-hover: #039be5;
  --primary-text-color: #4c4f69;
  --primary-color: #ef9f76;
  --accent-color-light: #fc5280;
.mainEverforestLightGreen {
  --scrollbar-text-color-hover: var(--scrollbar-color);


  --accent-color-visited: #4899d2;
}
  --primary-color-hover: #aec29c;
}
  --tertiary-text-color: #d3c6aa;
  --primary-color-hover: #f7c7a9;


}
.dracula {
  --primary-color: #8839ef;
  --accent-color-rgb: 141 161 1;
  --side-nav-active-color: #839496;
}
/*************** DARK THEME ADJUSTMENTS ***************/
  --primary-color: #d55d0f;
  --scrollbar-color-hover: #424242;
  --side-nav-hover-color: #11111b;

}
  --primary-color-active: #8a8abf;
  --primary-color-hover: #97ebfd;
/*************** RULE TWEAKS ***************/
  --accent-color-hover: #b6e3b2;
  --bg-color: #2b2f3a;
  --accent-color-active: #c883a0;
  --accent-color-rgb: 177 98 134;
  --accent-color-active: #d9d95a;
}
  --primary-color-active: #b83232;
  --accent-color-light: #f09ed0;
  --primary-color-active: #dec48d;
.secGruvboxDarkPurple {
  --accent-color-active: #f9a825;
}
  --primary-color: #af3a03;
.invidiousLogo {
body[class*='Red'] * {



  --primary-color-hover: #f3d2ea;
  --primary-color-active: #6fa9a0;
  --accent-color-hover: #9dbbef;
  --favorite-icon-color: #0f0;
  --accent-color-hover: #ff86cc;
.secDraculaGreen {
  --accent-color-light: #bde6a0;
  --accent-color-light: #f7e2b0;
  --primary-color-hover: #4aa2d3;

}
  --accent-color-rgb: 148 226 213;
  --accent-color-hover: #f2fb98;
}
  --title-color: #000;
  --primary-text-color: #ffff;
.mainCyan,

}
}
  --primary-color-hover: #f3a6b8;
}
}


  --primary-color-hover: #d5a920;
  --accent-color-visited: #b16286;
  --tertiary-text-color: #eee;

  --secondary-text-color: #424242;
  --accent-color-active: #dec48d;
  --primary-color-hover: #c49efa;
  --primary-color: #85c1dc;
  --accent-color-hover: #f96360;
  --primary-color: #f9e2af;
}
.secEverforestDarkYellow,
  --accent-color-visited: #d8302d;
.mainDraculaPink {
.secSolarizedRed,
  --logo-secondary-color: var(--primary-text-color);
  --favorite-icon-color: #0f0;
  --secondary-text-color: #ffff;
  --accent-color-hover: #4cb9b8;
.secDraculaCyan {

  --title-color: #d3c6aa;
.mainCatppuccinFrappeLavender {
.secCatppuccinMochaGreen,
  --accent-color-hover: #e78b8d;
.secDraculaYellow {
  --title-color: #eee;
.everforestLightMedium,
  --destructive-active-color: #ef6c00;
  --secondary-text-color: #bac2de;
  --title-color: #d3c6aa;
  --primary-color-hover: #e77dc9;
  --logo-text: url('../../_icons/textEverforestDarkHardSmall.svg');
}
  --primary-color-hover: #a3e4f0;
body[dir='ltr'] {
  --accent-color-active: #1565c0;
  --side-nav-color: #000;
  --primary-color: #cf59aa;

.secGruvboxDarkBlue {
  --accent-color-active: #9e9d24;
  --top-bar-push-down-adjustment-one-or-fewer: 0px;
  --primary-text-color: #1f002b;
  --accent-color-visited: #d79921;
  --accent-color-hover: #9f5cf1;
}
  --primary-input-color: rgb(0 0 0 / 50%);


.secYellow,
  --scrollbar-color: #414559;
}
  --primary-color: #81c8be;
/*************** PRIMARY THEME COLOR DEFINTIONS ***************/
.everforestLightMedium {

  --primary-color: #f2cdcd;
  --primary-color-hover: #95d0b0;
.dark,
  --secondary-card-bg-color: #eff1f5;
.secCatppuccinFrappePink {
.secSolarizedBlue {
  --accent-color-visited: #a171da;
/* stylelint-disable-next-line a11y/no-outline-none */

  --accent-color-active: #b8282b;
  --logo-tertiary-color: #000;
.secEverforestLightGreen {
  --primary-color-hover: #4899d2;
}
  --scrollbar-color: #f5c8d3;
  --primary-color: #b58900;
  --accent-color-rgb: 230 201 145;
  --side-nav-hover-color: #131a1e;
body[class*='Red'][class*='Purple'] * {
  --primary-color: #8caaee;
  --accent-color-rgb: 134 194 221;
.black .invidiousLogo {
  --secondary-card-bg-color: rgb(59 66 82 / 75%);

  --logo-icon-bar-color: url('../../_icons/iconWhiteSmall.svg');
  border-radius: 6px;
  --title-color: #fdf6e3;
  --accent-color-visited: #311b92;
  --bg-color: #2d353b;
  --accent-color-light: #e64e71;
}
  --accent-color-hover: #8e77c4;
  --primary-color-active: #feb259;
/*
}
  --accent-color-light: #f7dfdf;

  --primary-color-active: #fc8b56;
  --scrollbar-text-color-hover: var(--primary-text-color);


.secLime,
  --primary-shadow-color: rgb(0 0 0 / 75%);
  --scrollbar-color: #4b566a;

  --primary-color-hover: #b9d09f;
.dark {
}
  --primary-color: #89b4fa;

  --primary-color-active: #b96e4f;


  --accent-color-light: #90caf9;
.secEverforestDarkRed {
  --primary-color-active: #e66db2;
  --primary-color: #99d1db;
}
.mainEverforestDarkOrange,
  --logo-text-bar-color: url('../../_icons/textWhiteSmall.svg');
  --secondary-card-bg-color: #eee;
  --accent-color-hover: #e0ad0e;
.mainSolarizedOrange {
  --secondary-card-bg-color: #1e1e2e;

  color: var(--link-color);
  --primary-color-hover: #af5f91;
}
}
.mainCatppuccinMochaBlue,
  --primary-color-hover: #91cbc3;
.mainCatppuccinMochaFlamingo {
  --accent-color-light: #a0d6ce;
  --accent-color-rgb: 141 171 239;
/***** REMOVE MAIN SCROLLBAR WHEN PROMPT IS OPEN ******/
  --accent-color-active: #68948a;
  --scrollbar-color: #d8d5c5;
  --accent-color-light: #f6a885;
.secPink,
  --side-nav-active-color: #192126;

  --accent-color-visited: #1a237e;
  --accent-color-active: #8fa76b;
.mainLime,
.mainCatppuccinFrappeLavender {

.mainGruvboxDarkOrange {
  --favorite-icon-color: #0f0;
}
  --primary-color-hover: #9f5cf1;
.mainEverforestDarkYellow {
  --primary-color-hover: #a3d4cc;
  --bg-color: #f3ead3;
  .youtubeLogo {
  --secondary-text-color: #c6cee6;
  --accent-color-active: #aa84e0;
.hotPink *:not(:hover, :focus) {
  --accent-color-active: #7129d2;
  --accent-color-active: #e66db2;
  --primary-color-hover: #2ca998;
  --accent-color-active: #c84f9a;
  --secondary-card-bg-color: rgb(0 0 0 / 75%);
  --primary-color: #ca9ee6;
/* Default side nav active text color and scrollbar text color hover not needed to be changed for most themes */
}
.secPurple {
  --primary-color-active: #b37ac9;
  --primary-color: #d83532;
.mainCatppuccinFrappePeach,
  --primary-color-hover: #fc524f;

  --text-with-accent-color: #fff;


}
  --accent-color-rgb: 235 160 172;
}
  --logo-text-bar-color: url('../../_icons/textCatppuccinFrappeDarkSmall.svg');
  --accent-color-hover: #dc5280;
  --logo-icon-bar-color: url('../../_icons/iconBlackSmall.svg');


.mainCatppuccinMochaPink {
.secGruvboxDarkBlue,
  --accent-color-rgb: 255 175 119;
}
  --primary-color-active: #1565c0;



  --primary-color-active: #6da07f;
  --accent-color-light: #c5e1a5;
  --accent-color-visited: #8fa76b;
.secDraculaGreen,
  --tertiary-text-color: #d5c4a1;
.hotPink {
}
  --accent-color-opacity3: rgb(var(--accent-color-rgb) / 16%);
.secCatppuccinLatteRed {
}
.secCatppuccinMochaLavender {
  --accent-color-rgb: 167 210 138;
}
.secGruvboxDarkYellow,
  --accent-color-light: #80cbc4;
  --primary-color-active: #59a9cf;
  --accent-color-hover: #e6a383;
  --primary-color-active: #00695c;
  --accent-color-visited: #857720;
  background: var(--scrollbar-color-hover);
.hotPink .shaka-range-container {
  --scrollbar-color-hover: #3d4051;
  --primary-color-hover: #d8db46;
.secCatppuccinFrappeRed,
*/
  --primary-color: #f38ba8;
  --favorite-icon-color: #0f0;
  --primary-color: #f4b8e4;
  --accent-color-active: #d84315;
  --secondary-card-bg-color: rgb(0 0 0 / 75%);
  --accent-color-active: #f2804f;
  many other colors than black and white. This means that the primary and
  --primary-color-active: #e19abf;
}
}
  --search-bar-color: #262626;
  --primary-color-active: #476ab8;
  --accent-color-rgb: 243 139 168;
}

  --side-nav-active-color: #11111b;
  --accent-color-opacity4: rgb(var(--accent-color-rgb) / 24%);
  --primary-text-color: #eee;
}

}
  --primary-color: #74c7ec;


  --primary-color: #89dceb;
  --secondary-text-color: #d5c4a1;
  --title-color: #3f7ac6;
.mainEverforestDarkOrange {
  --side-nav-color: #e6e9ef;
.mainPurple,
  --primary-color: #f5e0dc;
  --accent-color-visited: #d68360;
  --primary-color: #fe8019;
.secOrange {
  --tertiary-text-color: #3c4a52;
  --primary-color-hover: #46b38a;
  --primary-text-color: #f8f8f2;
  --primary-color-hover: #43a047;
}
.secGruvboxLightBlue,
  --logo-text: url('../../_icons/textGruvboxDarkSmall.svg');
  --text-with-accent-color: #3c3836;
  --title-color: #c6d0f5;
.catppuccinFrappe,
.secEverforestDarkPurple {
.mainSolarizedYellow {
  --primary-color-active: #b67a96;
  --accent-color-active: #f0b839;
.mainCatppuccinMochaLavender {
}
  --text-with-accent-color: #000;
  transform: scale(-1, 1);
  --accent-color-light: #f97673;
.secCatppuccinFrappeBlue {
}
  /* Value of 0 without 'px' does not work inside calc() */
  --accent-color-hover: #c4c5f2;
  --side-nav-color: #fff;

  --tertiary-text-color: #6c6f85;
  --text-with-main-color: #000;
}
}
.secSolarizedGreen {
.mainDraculaPink,
  --accent-color-hover: #84c7e6;
  --primary-color: #268bd2;
.secDraculaPurple {
  --primary-color-active: #acb1f4;
  --side-nav-color: #504945;
}
.system[data-system-theme*='dark'],
  --accent-color-active: #86c780;
  --accent-color-active: #ddb7b7;
  --accent-color-light: #000 !important;
  --accent-color-light: #ff94d1;

.secBlue,

}

body:has(.prompt) {
  --accent-color-light: #fabd2f;
.secCatppuccinMochaPeach,

  --accent-color-light: #6ce1d8;
.secCatppuccinMochaBlue {
  --scrollbar-color-hover: #3f4b48;
}

  --search-bar-color: #073642;
.secDraculaOrange {
  --primary-color-hover: #1e88e5;
  --side-nav-hover-color: #0e1316;

}
  --primary-text-color: #3c4a52;
.hotPink .navOption:hover,

  --accent-color-light: #f48fb1;
  --primary-color-active: #4f5f00;
}

  --accent-color-rgb: 255 85 85;
  --logo-text: url('../../_icons/textEverforestLightMediumSmall.svg');
  --primary-color: #bd93f9;
  --accent-color-hover: #9bbef6;
  --accent-color-hover: #da504d;
  --primary-color-hover: #eab4b8;
  --primary-color-active: #aa84e0;
  --primary-color-hover: #000 !important;
}
.secAmber,
  --logo-text: url('../../_icons/textCatppuccinFrappeLightSmall.svg');
.mainCatppuccinMochaTeal {
body:not(.hotPink) {

}
.secEverforestLightBlue {
.secCatppuccinMochaRosewater {
.secDraculaCyan,

  --accent-color-hover: #f66;
  --bg-color: #ff008a;

  --side-nav-color: #eee8d5;

  --accent-color-rgb: 230 126 128;
  --secondary-card-bg-color: #fff;
  --scrollbar-color-hover: #757575;

  --horizontal-directionality-coefficient: 1;

.mainCyan {
  --primary-color-hover: #276898;
  --accent-color-visited: #2881b2;
  --accent-color-visited: #d3a1b3;

.mainGruvboxDarkBlue {
  --primary-color: #ffeb3b;
  --primary-color-active: #000 !important;
  --primary-input-color: rgb(0 0 0 / 50%);


.mainDraculaRed,

}
  --accent-color-visited: #a61f1f;
  --accent-color-rgb: 139 233 253;
  --accent-color-visited: #006064;
  --bg-color: #000;
  --accent-color-rgb: 245 185 229;
  --primary-text-color: #d3c6aa;
.mainDeepPurple,
/*************** MAIN APP STYLING RULES ***************/
  --accent-color-visited: #b71c1c;
  --primary-color-hover: #f3c8e7;
  --accent-color-visited: #e69e6b;
.secRed,
}
.mainSolarizedGreen {
  min-block-size: 100vh;
  --primary-color-hover: #f0d0d0;
  --primary-color-active: #6ae1d8;
.mainGruvboxDarkGreen,
.mainRed {
.mainEverforestDarkBlue {
  --accent-color-hover: #8dc99f;
  --primary-color-active: #0d7e51;
  --primary-color: #babbf1;
.secAmber {
  --accent-color-visited: #739cdd;
  --primary-color-hover: #6e83c4;
  --accent-color-hover: #f4511e;
  --favorite-icon-color: #0f0;
.mainCatppuccinMochaRosewater,

  --primary-color-active: #7dd2e4;
  --primary-color-hover: #857720;
  --accent-color-rgb: 116 199 236;
  --accent-color-light: #d6b9f9;
.black {
.mainCatppuccinFrappeSky,
}
.solarizedDark,

  --logo-primary-color: var(--primary-text-color);
.secBlue {
  --favorite-icon-color: #0f0;
  --text-with-main-color: #282a36;
  --primary-color-active: #f3a6b8;

.secCatppuccinMochaMauve,
}
.gruvboxDark,
  --accent-color-visited: #d28fc0;
  --primary-color-hover: #e6b9d6;
}

  --primary-color-hover: #7cb342;
  --primary-color-active: #6c28ce;
  --accent-color-hover: #f7bd99;
}
  --accent-color-visited: #a171da;

}
  --accent-color-hover: #f0a1a4;
  --tertiary-text-color: #757575;
  --accent-color-hover: #d3869b;
  --primary-color-active: #cec59c;
/* Text "app" should be visible but retain FreeTube color logo */
  --accent-color-light: #93d0a2;
}
  --primary-color-active: #d65f61;
  --primary-color-hover: #5e35b1;
.secGruvboxDarkPurple {
.mainSolarizedViolet {
  --accent-color-rgb: 169 47 20;
}
}
  --primary-color-active: #a63f9a;
.mainSolarizedMagenta,
.mainDeepPurple {
  --destructive-hover-color: #fb8c00;
.secIndigo {

  --card-bg-color: #ffd1dc;
  --primary-color-hover: #cf5a23;
  */
  --bg-color: #282828;

.mainCatppuccinFrappeRosewater {
  --accent-color-rgb: 76 175 80;
}
  --accent-color-hover: #ffbf7b;
  --accent-color-hover: #a59640;
.mainCatppuccinMochaSky,
.secEverforestDarkOrange,
  --primary-color: #f1fa8c;
  --accent-color-rgb: 131 192 146;
.mainAmber {
  --primary-color-hover: #b3dce4;
  --accent-color-active: #0277bd;

}
  --accent-color-opacity4: rgb(255 255 255 / 24%) !important;
.catppuccinLatte {
  --primary-color: #03a9f4;
  --accent-color-rgb: 156 39 176;

  --accent-color-hover: #f68b34;
  --logo-text: url('../../_icons/textCatppuccinMochaLightSmall.svg');
.solarizedLight,
}
.secCatppuccinFrappeGreen {
}
}
  --accent-color-light: #b076f8;
/* destructive color in case of conflict with red color themes (sets new destructive color to purple)
  --bg-color: #eff1f5;
}
  --accent-color-active: #6a1b9a;
  --accent-color-rgb: 249 226 175;
.secEverforestLightRed {
  --logo-icon-bar-color: url('../../_icons/iconDraculaLightSmall.svg');
  --accent-color-visited: #c88b00;
  --scrollbar-color-hover: #760278;
  --accent-color-active: #b814a0;
.mainEverforestDarkGreen {
  --accent-color-hover: #d4b7f8;
.mainDeepOrange {
}
}
  secondary theme colors are forced here to be black so as to avoid any
  --accent-color: #000 !important;
  --primary-color-active: #0a7ea5;

  --search-bar-color: #ccd0da;
  --tertiary-text-color: #ddd6c3;
  --side-nav-color: #293136;
}
}
.secDeepPurple {
  --bg-color: #fdf6e3;

.secEverforestLightPurple {
.mainEverforestLightGreen,
  --scrollbar-color-hover: #adb39f;

  --accent-color-rgb: 255 121 198;
  --favorite-icon-color: #0c0;
.mainCatppuccinFrappeGreen {
.secGruvboxLightBlue {
.secDraculaRed,
}
  --destructive-active-color: #6a1b9a;
.secDraculaPurple {
  --accent-color-hover: #bb9f40;
}

.system[data-system-theme*='dark'],
.mainCatppuccinFrappeSapphire {
  --side-nav-hover-color: #bdae93;
.mainGruvboxDarkPurple {
/* Light shadow color for themes where a dark shadow would not work */
  --accent-color-hover: #ffb300;
/* Given that the Hot Pink theme does not need link underlining due to meeting
  --scrollbar-color: #394146;
  --primary-text-color: #d3c6aa;
.secCyan,
  --primary-color-active: #8b6e00;
.mainCatppuccinFrappeRed {
  --primary-text-color: #ebdbb2;
.secCatppuccinLatteMauve,

  --accent-color-visited: #5cccb9;
.mainGruvboxDarkBlue,
  --side-nav-hover-color: #232634;

}
.mainCatppuccinFrappeYellow {
  --logo-icon: url('../../_icons/iconDraculaLightSmall.svg');
  --primary-color-hover: #a3d0e4;
}
  --top-bar-push-down-adjustment-edit-mode: 0px;


  --accent-color-hover: #fceeec;
  background-color: var(--bg-color);
  --primary-color-hover: #fdd835;
.app {
  --logo-text-bar-color: url('../../_icons/textGruvboxDarkSmall.svg');
  --logo-icon: url('../../_icons/iconCatppuccinLatteDarkSmall.svg');
::-webkit-scrollbar {
.secCatppuccinMochaBlue,
  --side-nav-active-color: #3124e7;
  --primary-color-active: #48e16f;
.mainCatppuccinFrappePeach {
  --top-bar-push-down-adjustment-no-description: 0px;
  --search-bar-color: #fff0dd;
  --accent-color-active: #dca8a8;
/* stylelint-disable no-descending-specificity */
.mainCatppuccinMochaPeach,
  --accent-color-hover: #c0ca33;
  --bg-color: #fbf1c7;
.secLightGreen {

.secGruvboxDarkOrange {
  --accent-color-hover: #e53935;
.mainGruvboxDarkAqua {
}
  border: 0;
  --logo-icon: url('../../_icons/iconEverforestLightHardSmall.svg');
  --primary-color: #8f3f71;
  --accent-color-rgb: 69 133 136;
}
  --primary-color-hover: #e53935;
  --side-nav-hover-color: #57596b;

.mainCatppuccinFrappeFlamingo,
  --accent-color-light: #9fa8da;
}

  --primary-color: #076678;
  --accent-color-hover: #f3cee9;

}
  --accent-color-visited: #f57f17;
  --secondary-card-bg-color: #fffbef;

}
  --accent-color-hover: #f0d8a1;
}
.secTeal {

  --primary-color: #009688;
}
  --accent-color-active: #ad1457;
  --accent-color-rgb: 69 133 136;
}
  --side-nav-color: #33353f;
  --tertiary-text-color: #3c4a52;
  --accent-color-rgb: 214 153 182;

}

  --primary-color-hover: #3949ab;
  text-decoration: none;
  --primary-color-hover: #aceae0;
  --logo-icon: url('../../_icons/iconSolarizedDarkSmall.svg');

  --search-bar-color: #2e383c;
  --logo-icon-bar-color: url('../../_icons/iconCatppuccinFrappeDarkSmall.svg');
  --primary-color-hover: #c94d34;
/* Light theme Youtube and Invidious logo styling (in FtShareButton) */
.secEverforestDarkBlue,

  --accent-color-light: #d3869b;
}
.mainEverforestLightAqua,

  --accent-color-visited: #d66f71;
.mainSolarizedGreen {

.hotPink,
  --primary-text-color: #d3c6aa;
.mainSolarizedBlue {
  --primary-color: #fabd2f;
.system[data-system-theme*='dark'],

.mainEverforestDarkGreen,
  --text-with-main-color: #1e2326;
  --accent-color-rgb: 4 131 178;
.mainSolarizedOrange,
.mainEverforestDarkRed {
  --accent-color-visited: #6aaed0;
.mainPink,
.secCatppuccinMochaLavender {
}
.mainGruvboxLightBlue {
  --side-nav-hover-color: #212121;
}
  --side-nav-active-text-color: var(--primary-text-color);
  --accent-color-rgb: 0 150 136;
  --accent-color-active: #4527a0;
.secCatppuccinFrappePink,
  --bg-color: #1e1e2e;
  --accent-color-rgb: 239 191 191;

.mainSolarizedCyan {
  --primary-color-hover: #bfe9b1;
}
.secSolarizedBlue,
.secEverforestDarkYellow {
  background: var(--scrollbar-color);
.gruvboxDark {

  --accent-color-light: #81d4fa;
.mainCatppuccinMochaSapphire {
  --accent-color-light: #83a598;
body {
  --scrollbar-color-hover: #bdbdbd;
  --accent-color-visited: #d65d0e;
  --logo-text-bar-color: url('../../_icons/textGruvboxDarkSmall.svg');
  --primary-color: #6c71c4;
  --accent-color-light: #fbeccb;
.mainEverforestLightRed {
  --side-nav-active-color: #757575;

  /* stylelint-disable length-zero-no-unit */
.hotPink a:not(:hover, :focus),
  --accent-color-light: #fb4934;
  --logo-text: url('../../_icons/textGruvboxLightSmall.svg');
.secEverforestDarkGreen,
.catppuccinMocha,
  --accent-color-light: #eb8156;
  --accent-color-visited: #810922;
  --accent-color-visited: #9776c7;
  --logo-text-bar-color: url('../../_icons/textBlackSmall.svg');
  --card-bg-color: #de1c85;
.mainGruvboxLightBlue,
  --destructive-text-color: #000;
  --accent-color-active: #8ec07c;
  --primary-color-active: #e6a661;
}
  --tertiary-text-color: #5a285a;
  --accent-color-rgb: 245 194 231;
  --side-nav-active-color: #dce0e8;
  --text-with-accent-color: #fbf1c7;
.mainEverforestLightYellow,
  --logo-icon: url('../../_icons/iconBlackSmall.svg');

  --primary-text-color: #3c4a52;
  --side-nav-color: #f2efdf;
  --destructive-text-color: #fff;
.mainCatppuccinFrappePink,


  --accent-color-active: #ef6c00;
  --accent-color-active: #f2804f;
.mainBlue {
  --primary-color-active: #8b9e5f;
  --accent-color-light: #ebcc8f;
html[lang='fa'] [data-prefix='fas'][data-icon='circle-question'],
.secCatppuccinMochaMaroon,

  --accent-color-hover: #96c9e1;
::-webkit-scrollbar-thumb:hover {
}
  --primary-color-active: #d8b790;
/* stylelint-disable-next-line selector-no-qualifying-type */
  --accent-color-visited: #01579b;

}
  --side-nav-hover-color: #3b4252;
  --logo-text-bar-color: url('../../_icons/textEverforestDarkHardSmall.svg');
  --accent-color-light: #8ec07c;

}
.mainEverforestLightOrange {

  --primary-color: #83a598;
  --text-with-main-color: #1d2021;
/* Default sidenav hover text color and primary input color not needed to be changed for most themes */
  --accent-color-visited: #c883a0;
.secEverforestDarkPurple,
  --card-bg-color: #eee8ce;
}
  --side-nav-active-color: #d5cfb5;
  --accent-color-light: #f5a3ba;

  --accent-color-active: #68bcca;
.mainYellow {
  --primary-color: #9d0006;

  --side-nav-hover-color: #e2dfcf;

  --primary-color: #a7c080;
  --accent-color-light: #83a598;
  --text-with-main-color: #fbf1c7;
.secCatppuccinMochaFlamingo,
}
  --secondary-text-color: #3c4a52;
  --card-bg-color: #eee8d5;
  --primary-color: #e5c890;
.secCatppuccinFrappeBlue,
.secEverforestLightOrange {
  --logo-icon: url('../../_icons/iconEverforestLightLowSmall.svg');


  --secondary-text-color: #3c4a52;
*/
.secCatppuccinFrappeFlamingo {
}
  --primary-color: #a96e00;
.mainCatppuccinLatteRed {
  --accent-color-rgb: 63 81 181;
  --scrollbar-color-hover: #bdbdbd;
  --primary-color: #fff;

.mainCatppuccinMochaGreen,
}

}
  --logo-text-bar-color: url('../../_icons/textDraculaLightSmall.svg');
.mainGruvboxLightRed,
  --accent-color-active: #e64441;
  --accent-color-hover: #8ec07c;
  --primary-color-hover: #d8302d;
  --accent-color-active: #b35936;

  --accent-color-visited: #40c862;
  --accent-color-light: #fff59d;
body[dir='rtl'] {
  --primary-text-color: #cdd6f4;
.secCatppuccinFrappeSky {
  --accent-color-light: #ffe082;
.mainTeal,
  --accent-color-light: #b4e6f0;
}
  --primary-color-hover: #93d1ed;
  --logo-text: url('../../_icons/textNordicLightSmall.svg');
.secSolarizedOrange,
  --scrollbar-color: #ccc;
.mainSolarizedCyan {
  --scrollbar-color: #ccd0da;
  --accent-color-rgb: 223 105 186;


  --accent-color-hover: #4aa2d3;
.secEverforestDarkAqua,

.secCatppuccinMochaYellow {
  --bg-color: #212121;
  --primary-color-hover: #f0e9c0;
  --primary-color: #d699b6;

  --side-nav-hover-text-color: #000;
  --logo-icon: url('../../_icons/iconSolarizedLightSmall.svg');
  --accent-color-hover: #8cc9c1;
  --accent-color-rgb: 154 210 220;
.secCatppuccinFrappeYellow,
  --primary-color-active: #ddb7b7;
.mainDraculaOrange,
  --primary-color-hover: #d4b0e7;
  --primary-color: #9c27b0;
  --accent-color-visited: #0d47a1;
}
  --primary-color-active: #86c780;
  --primary-color-active: #66cbf4;
  --logo-text: url('../../_icons/textBlackSmall.svg');
  --accent-color-visited: #6ba77b;
}
  --primary-text-color: #c6d0f5;
  --tertiary-text-color: #a5adce;
  --text-with-accent-color: #fff !important;
.secCatppuccinFrappeFlamingo,
  --primary-color: #ff5722;

.mainEverforestLightBlue,
  --primary-color-hover: #c0ca33;
  color: var(--primary-text-color);
  --accent-color-hover: #00acc1;
  --accent-color-visited: #cf8f8f;
  --accent-color-rgb: 244 67 54;
  --accent-color-active: #00838f;
  }
  --accent-color-hover: #f2804f;

  --accent-color-rgb: 166 227 161;
  --accent-color-rgb: 139 195 74;
  --primary-color: #d3869b;
.secEverforestLightPurple {
  --logo-icon: url('../../_icons/iconGruvboxLightSmall.svg');
  --accent-color-rgb: 250 179 135;
  --accent-color-hover: #fdd835;


}

  --side-nav-color: #ffd1dc;
.dark,

  --accent-color-visited: #d88b8e;
  --text-with-main-color: #fff;
}
  --accent-color-visited: #c94d34;
.secLime {

  background-image: url('./assets/img/invidious-logo-light.svg');
  --title-color: #ebdbb2;


  --logo-icon: url('../../_icons/iconEverforestDarkMediumSmall.svg');
  --primary-color: #d20f39;

  --text-with-accent-color: #fff;
  --accent-color-light: #f0c000;
  --accent-color-rgb: 0 188 212;
.secCatppuccinMochaRosewater,

.pastelPink,

  --accent-color-active: #ff8f00;
  --primary-color-active: #d9e17e;
  --primary-color-active: #6593df;
}
  --accent-color: rgb(var(--accent-color-rgb));

.system[data-system-theme*='dark'],

  --search-bar-color: #1d2021;
  --accent-color-light: #a7c7fb;
  --accent-color-visited: #cc619e;
  --primary-color-active: #e64d4d;
  --accent-color-light: #f79f5a;

  --tertiary-text-color: #d3c6aa;
  --card-bg-color: #fff;
  --accent-color-hover: #469fd2;
  --primary-color-hover: #e84e3f;
  --accent-color-hover: #c49efa;
  --primary-color-active: #fe726f;
}
  * {
}
.secGruvboxLightPurple {

.mainLightBlue {
.mainCatppuccinLatteMauve {
  --accent-color-active: #2e7d32;
}
  --primary-color: #d33682;
  --primary-color-active: #e1996d;

  --accent-color-hover: #d23c2a;
  NOTE: PURPLE COLORS MUST CONTAIN 'Purple' IN CLASSNAME.
.secCatppuccinMochaFlamingo {
.mainDraculaPurple {
  --primary-color: #2196f3;
  --accent-color-hover: #43a047;

  --accent-color-hover: #ebb4bd;
  --accent-color-light: #a5d000;
/* Themes that use the main FreeTube logo */
  --primary-color-hover: #00acc1;
.mainCatppuccinMochaBlue {
  --secondary-card-bg-color: #fdf6e3;
  --primary-color-active: #4527a0;
  --accent-color-active: #2881b2;
}
  --accent-color-visited: #6e83c4;
.secCatppuccinMochaSky,

  --primary-color-active: #c5d940;
  background-color: var(--bg-color);
}

  --side-nav-active-color: #ebdbb2;
.secGruvboxLightOrange {
}
.secCatppuccinMochaTeal {
}
.mainEverforestDarkAqua,

  --scrollbar-text-color-hover: #000;


.secGruvboxLightPurple {
  --primary-text-color: #eee;
.mainCatppuccinLatteRed {
}
.secLightBlue,


  --accent-color-visited: #d3a197;
  --primary-color-hover: #8c91e4;

  outline: none;
  --logo-text-bar-color: url('../../_icons/textDraculaDarkSmall.svg');
  --secondary-card-bg-color: #2d353b;
  --accent-color-active: #e1996d;
  --primary-color: #2a84b5;
  --scrollbar-color-hover: #515569;
  --bg-color: #f1f1f1;
  --secondary-text-color: #c6d0f5;

  --primary-color-active: #dd4046;
  --accent-color-hover: #d4b0e8;
}
  inline-size: auto;

}
}

.secPink {
  --bg-color: #fdf6e3;
  --secondary-text-color: #ddd;
  --title-color: #cdd6f4;
}
a:link {
}
.secCatppuccinFrappeMaroon,
  --accent-color-visited: #d38cb7;
.mainGruvboxDarkYellow,
  --card-bg-color: #504945;
  --search-bar-color: #3a464c;

  --logo-icon: url('../../_icons/iconCatppuccinFrappeLightSmall.svg');

  --accent-color-light: #f0b7c0;
  --primary-color-hover: #e66f10;
.secDraculaRed {
.everforestDarkHard {
  --card-bg-color: #303030;
  --primary-color-hover: #9eb7f0;
  --accent-color-light: #a7c1f4;
  --side-nav-hover-color: #dfd8c4;
  --title-color: #3c4a52;
  --primary-color: #ffb86c;

  --accent-color-light: #fbc4a2;
  --card-bg-color: #232a2e;
  --side-nav-active-color: #dfd8c4;
.mainGruvboxLightRed {
  --scrollbar-color: #fff;
  --logo-text-bar-color: url('../../_icons/textGruvboxLightSmall.svg');
}
}
}
.secSolarizedGreen {

html[lang='ar'] [data-prefix='fas'][data-icon='circle-question'],

.mainCatppuccinMochaMaroon,
  --accent-color-hover: #c9d0ff;
.catppuccinFrappe {
.solarizedLight {
}
  --scrollbar-color: #454f56;
.mainEverforestLightPurple {

  --accent-color-hover: #b7d28f;
  --primary-color-active: #c3e2d8;
  --scrollbar-color-hover: #46534f;
  --accent-color-active: #59a9cf;
  --primary-color: #e78284;
.mainCatppuccinMochaPeach {
}
  --logo-icon-bar-color: url('../../_icons/iconGruvboxDarkSmall.svg');
.secGruvboxLightRed {
  transform: scale(-1, 1);
  --accent-color-active: #897710;
  --scrollbar-color-hover: #c0f6ff;
  --accent-color-light: #80deea;
}
.secEverforestLightOrange,
  --secondary-text-color: #d3c6aa;

}
  --primary-color: #6d8100;
  --scrollbar-color: #d0ccb7;
  --primary-color: #dc322f;
.everforestDarkLow {
.secOrange,
  --accent-color-hover: #d81b60;
  --accent-color-active: #6ba77b;
}
  color: var(--primary-text-color);
.mainEverforestLightPurple {
  --favorite-icon-color: #0f0;

  --primary-color-hover: #8da101;

  --favorite-icon-color: #0f0;
  --accent-color-light: #a5d6a7;
  --accent-color-visited: #6fbaca;
.secGreen {
  --primary-color-hover: #f2fb98;


  --logo-icon: url('../../_icons/iconGruvboxDarkSmall.svg');
  --logo-icon-bar-color: url('../../_icons/iconDraculaDarkSmall.svg');
  --secondary-card-bg-color: #272e33;

  --accent-color-light: #ef9a9a;
  --favorite-icon-color: #0f0;
  --accent-color-visited: #6021a9;
}
  --logo-text: url('../../_icons/textEverforestLightLowSmall.svg');
  --accent-color-light: #c7c8f2;

  --accent-color-rgb: 165 165 0;
.secCyan {
  --side-nav-color: #ebdbb2;
  --accent-color-light: #a0d4e6;
}
  --accent-color-visited: #458588;
  --primary-color-active: #9e9d24;

  /* divider */
.everforestDarkMedium,
  filter: invert(0.87);
.mainCatppuccinFrappeFlamingo {
  --accent-color-light: #f68e90;
  --primary-color-hover: #8e24aa;
  --accent-color-visited: #c86a79;
  --primary-color-hover: #d81b60;
  --accent-color-hover: #d3869b;
  --scrollbar-color: #bdae93;
}
  --side-nav-hover-color: #fff;
.mainGruvboxLightOrange,
}

}
.secGruvboxLightOrange,
  --scrollbar-color-hover: #fbf1c7;
  --accent-color-rgb: 104 157 106;
  --accent-color-light: #b7d090;
  --primary-color-hover: #feeecd;
  --logo-icon: url('../../_icons/iconEverforestDarkHardSmall.svg');
}
}
  --accent-color-rgb: 127 187 179;
  --accent-color-rgb: 137 220 235;

  --accent-color-active: #558b2f;
.mainCatppuccinMochaMauve {
  --accent-color-active: #e0bfcf;
}
  --accent-color-active: #7b8f00;
.hideOutlines *:focus {
/* SECONDARY THEME COLORS CORRESPONDING TO BASE THEMES */
/* Dark theme Youtube and Invidious logo styling (in FtShareButton) */
.secGreen {
/* stylelint-disable-next-line selector-no-qualifying-type */
.secEverforestLightRed,
}
  .invidiousLogo {
  --search-bar-color: #343f44;
}
  --side-nav-active-color: #232634;
}
.mainDraculaGreen,

  --logo-icon-bar-color: url('../../_icons/iconEverforestDarkHardSmall.svg');
  --primary-color-hover: #e8b095;
.mainCatppuccinFrappeBlue {

.secSolarizedOrange {
.secEverforestLightBlue,
.mainEverforestLightAqua {
.secCatppuccinMochaRed,
.everforestLightHard,
  --horizontal-directionality-coefficient: -1;
  --bg-color: #303446;
.secEverforestLightYellow {
  --logo-text: url('../../_icons/textEverforestDarkMediumSmall.svg');
.mainEverforestLightOrange,
.dracula,
.secEverforestLightGreen,
  --logo-icon: url('../../_icons/iconColorSmall.svg');
  --accent-color-opacity1: rgb(0 0 0 / 4%) !important;
  --title-color: #eee;
  --logo-text: url('../../_icons/textDraculaLightSmall.svg');
  --primary-color: #cddc39;
  --link-visited-color: var(--accent-color-visited);
.mainCatppuccinMochaGreen {
  --bg-color: #ffeadd;
  --primary-color-active: #a60c2d;
.mainGreen {
.hotPink .navOption:focus,
  --tertiary-text-color: #282828;
.secSolarizedRed {

  --secondary-card-bg-color: #303446;

  --accent-color-light: #fa726f;
  --bg-color: #272e33;
  --accent-color-hover: #dd385c;
    background-image: url('./assets/img/invidious-logo-dark.svg');
  --card-bg-color: #e6e9ef;
  --primary-color-hover: #a6c8ff;

  --secondary-text-color: #ddd;

}
  --card-bg-color: #181825;
  --accent-color-rgb: 8 135 118;
  --accent-color-visited: #cf9898;
  --primary-color-active: #d68895;
  --destructive-text-color: #fff;
  --primary-color-active: #5f9b93;
/* stylelint-disable no-descending-specificity */

  IMPLEMENTATION NOTE:
  --accent-color-active: #d8b07f;
}
  --primary-color: #8ec07c;
}
  --card-bg-color: #f2efdf;
.mainGruvboxDarkGreen {
  --primary-color-active: #ad1457;

  --accent-color-rgb: 78 83 164;
.mainDraculaOrange {
  --accent-color-visited: #880e4f;

it can be safely elided. This looks quite pleasant on this theme. */
  --primary-color-hover: #fceeec;

  --secondary-card-bg-color: #f3ead3;
  --accent-color-rgb: 58 148 197;
  --primary-color-hover: #dd385c;

::-webkit-scrollbar-thumb:hover,
.gruvboxLight {
  --accent-color-light: #f77;
  --accent-color-visited: #24a569;
.hotPink a:hover,

  --scrollbar-color-hover: #406b76;
.secLightBlue {

  --card-bg-color: #33353f;
  --accent-color-rgb: 33 150 243;
  --primary-color-hover: #039be5;
.mainDraculaPurple {
}
  --scrollbar-color: #665c54;
  --accent-color-rgb: 242 205 205;
  --primary-text-color: #fdf6e3;
  --accent-color-visited: #c8a76b;
  --accent-color-active: #e64d4d;
  --accent-color-active: #ad0c2e;

  --text-with-accent-color: #000;
  --favorite-icon-color: #0f0;
.everforestLightLow,
}
  --accent-color-hover: #fb8c00;
  --primary-color: #2aa198;
  --title-color: #eee;
  --link-color: var(--accent-color);
.pastelPink {
  --primary-color-hover: #f66;
}
.mainIndigo {
  --primary-color: #dbbc7f;
.mainEverforestDarkYellow,
/* stylelint-disable no-descending-specificity */
  --logo-tertiary-color: var(--primary-text-color);
  --primary-color: #859900;
  --accent-color-light: #ae95f4;
.mainCatppuccinMochaRed,
.secSolarizedMagenta,
  --logo-icon-bar-color: url('../../_icons/iconDraculaLightSmall.svg');
  --accent-color-visited: #98971a;
.everforestDarkHard,
  --accent-color-active: #d68895;

}
  --primary-color: #f44336;
  --accent-color-active: #c8a76b;
  --side-nav-active-text-color: #000;
  --primary-color-hover: #ff86cc;
.mainCatppuccinFrappeBlue,


  --logo-text-bar-color: url('../../_icons/textCatppuccinMochaDarkSmall.svg');
  --secondary-text-color: #204b56;
  --primary-color-active: #bbae5f;
  --accent-color-hover: #3949ab;


.mainIndigo,
  --primary-color: #8bc34a;
  --side-nav-hover-color: #dce0e8;
  --accent-color-light: #e6a9c6;
}
  --primary-color: #b4befe;
}

  --primary-color-active: #86c77b;
.catppuccinLatte {

  --accent-color-light: #bceab8;
  --secondary-text-color: #282828;
  --logo-text: url('../../_icons/textEverforestDarkLowSmall.svg');
  --accent-color-rgb: 152 151 26;
  --accent-color-visited: #6eb5ab;
  block-size: auto;
  background-image: url('./assets/img/invidious-logo-dark.svg');
.mainDraculaCyan {
  --primary-color: #94e2d5;

  --accent-color-active: #8d98e4;
}
  --accent-color-active: #7dbecb;
  --accent-color-active: #c88b00;
  --primary-color: #b8bb26;
  --search-bar-color: #f5f5f5;
  --primary-text-color: #3c4a52;
.mainCatppuccinFrappeRed,
}
  --instance-menu-color: var(--search-bar-color);
  --primary-color: #4caf50;
  --primary-color-hover: #ddcc9f;
  --side-nav-hover-color: #d5cfb5;
  --accent-color-active: #5e63e4;
  --primary-color: #e91e63;
  --primary-color-active: #0277bd;
}
  --accent-color-active: #6eb5ab;
  --primary-color-hover: #e99a9c;



  --accent-color-visited: #004d40;
  --side-nav-active-color: #504945;
  --accent-color-light: #9fe3ef;
  --accent-color-hover: #a1dfd5;
  --primary-color: #83c092;
}
  --accent-color-light: #afe9df;
  --accent-color-opacity2: rgb(0 0 0 / 12%) !important;
}
  --side-nav-color: #292c3c;
  --accent-color-active: #b38fdf;
  --primary-color-hover: #f2e7e3;
  --accent-color-rgb: 255 184 108;
  --text-with-accent-color: #1e1e2e;
  --side-nav-hover-color: #fdf6e3;
.mainCatppuccinMochaYellow,

  --accent-color-hover: #7cb342;
}
  --logo-icon-bar-color: url('../../_icons/iconGruvboxLightSmall.svg');
  --secondary-text-color: #4c4f69;
}
  --accent-color-light: #f4dbed;

  --side-nav-hover-color: #e0e0e0;

  --accent-color-visited: #6ba79f;
}
  --favorite-icon-color: #0f0;
*/
}
  --accent-color-light: #f7dada;
.mainDraculaGreen {


}
  --logo-text-bar-color: url('../../_icons/textDraculaDarkSmall.svg');
  --accent-color-hover: #1e88e5;
  --accent-color-rgb: 248 85 82;
.mainCatppuccinFrappeSky {
  --side-nav-color: #eee8ce;
}
  --accent-color-hover: #97ebfd;
  --primary-color-active: #f9a825;
.mainGruvboxLightPurple {

.mainGruvboxDarkOrange {

}
  --bg-color: #282a36;

.mainSolarizedRed,
  --search-bar-color: #a89984;
  --accent-color-light: #73fb95;
}
.secDeepOrange {
  --accent-color-active: #2483d4;
.hotPink a:focus {
}
  --side-nav-color: #1e2326;
  --accent-color-visited: #d23480;
.secLightGreen,
  --accent-color-rgb: 243 214 223;
.secCatppuccinMochaGreen {


  --search-bar-color: #9c2d5d;
.mainCatppuccinMochaTeal,
  --text-with-main-color: #1e1e2e;
}
.mainCatppuccinFrappeMaroon,
  --tertiary-text-color: #ffff;
}
  --primary-color: #00bcd4;
.mainCatppuccinMochaFlamingo,

  text-decoration: underline;
  --secondary-text-color: #3c4a52;
  --accent-color-rgb: 3 169 244;
  --accent-color-hover: #46b38a;

  NOTE: RED COLORS MUST CONTAIN 'Red' IN CLASSNAME.
.secCatppuccinLatteMauve {
.secCatppuccinFrappeMauve {

}
  --favorite-icon-color: #0f0;
  --accent-color-visited: #e64441;
  --logo-icon: url('../../_icons/iconWhiteSmall.svg');
  --accent-color-light: #f7a0a2;
  --card-bg-color: #293136;
}
  --side-nav-active-color: #303030;
  --title-color: #002b36;
  --accent-color-rgb: 189 147 249;
}
.secGruvboxDarkYellow {
.secSolarizedViolet {
.secDraculaYellow {
  --accent-color-hover: #00897b;
  --accent-color-rgb: 210 15 57;
.black .youtubeLogo {
  --accent-color-hover: #ffbb8a;
/* PRIMARY THEME COLORS CORRESPONDING TO BASE THEMES */
}
  --primary-color-active: #6fc5b7;

  --primary-color-hover: #f356a2;
  --primary-color-hover: #fe9a39;
.secDeepPurple,
  --accent-color-hover: #f399b2;
  --accent-color-visited: #000 !important;
  --primary-color-active: #558b2f;
  --secondary-card-bg-color: rgb(0 0 0 / 75%);
  --accent-color-rgb: 203 166 247;
  --scrollbar-color: #608b96;
  --accent-color-rgb: 255 152 0;
  --secondary-card-bg-color: #333c43;
}

  --scrollbar-color-hover: #a9b09b;
  --primary-color: #7fbbb3;
  --favorite-icon-color: #0f0;
.black {
}
}
}
.mainCatppuccinFrappeYellow,
  --primary-color-active: #e18b5e;
  --search-bar-color: #4b566a;
  --accent-color-active: #48e16f;
  --secondary-card-bg-color: #fdf6e3;
.everforestLightHard {
}
  --primary-color-hover: #62fb88;
.light,
  --accent-color-rgb: 205 220 57;
}
.mainBlue,
  --text-with-accent-color: #212121;
  --accent-color-visited: #e66f10;
  --favorite-icon-color: #0f0;
.secSolarizedCyan {
  --primary-color-active: #fed76f;
  --accent-color-hover: #808080 !important;
  --accent-color-visited: #9a9bf2;
  --accent-color-active: #24a569;

  --logo-text: url('../../_icons/textSolarizedLightSmall.svg');
  --accent-color-light: #5ab0e0;
.mainLightGreen {
.mainCatppuccinFrappeTeal {
  --accent-color-visited: #d5b05d;
  --accent-color-active: #e6a661;
  --secondary-text-color: #ddd6c3;

  --accent-color-visited: #96a1e9;
    filter: brightness(0.868);
.mainCatppuccinMochaSapphire,
    This works because CSS variables are just a find and replace and
}
  --title-color: #4c4f69;
  --search-bar-color: #414559;
  --primary-text-color: #3c3836;
.mainGreen {
.secCatppuccinMochaMaroon {
}
  --accent-color-light: #b39ddb;
  --primary-color: #3f51b5;
  --accent-color-light: #ffab91;
}

  --primary-color-hover: #a9a130;
  --side-nav-color: #efe8d4;
}
  --accent-color-visited: #689d6a;
}
  --primary-color-hover: #d23480;
  --accent-color-visited: #1b5e20;
}
}
.secDraculaPink,
  --logo-text: url('../../_icons/textCatppuccinLatteDarkSmall.svg');
  --search-bar-color: #313244;

  --side-nav-color: #232a2e;
  --destructive-active-color: #c62828;
  --search-bar-color: #f4f0d9;
  --primary-color-hover: #f2e1e1;
  filter: brightness(0.933);
  --accent-color-rgb: 235 154 157;
}
}
  --secondary-text-color: #d3c6aa;

/* stylelint-disable-next-line selector-no-qualifying-type */
  --primary-color-active: #f558c2;
  --primary-color: #ff9800;
  --accent-color-visited: #d86f71;
.mainGruvboxDarkYellow {
.mainGruvboxLightOrange {
/*************** MAIN THEME DEFINITIONS ***************/
.mainCatppuccinMochaLavender {

  --primary-color-active: #d84315;
  --primary-color-active: #2e7d32;
.mainEverforestLightYellow {
  --primary-color-hover: #c9c9f3;
}
  --accent-color-rgb: 245 125 38;
  --side-nav-color: #ee1e90;




  --logo-primary-color: #f33;
/*************** DESTRUCTIVE THEME COLOR OVERRIDES ***************/
  --logo-text: url('../../_icons/textWhiteSmall.svg');
  --card-bg-color: #204b56;
  --card-bg-color: #292c3c;
}
  --accent-color-active: #b38fdf;
}
  --side-nav-color: #181825;
.secCatppuccinFrappeMauve,
}
@media (prefers-reduced-motion) {
  --primary-color-active: #ef6c00;
  --text-with-main-color: #f8f8f2;
/*************** SECONDARY THEME COLOR DEFINTIONS ***************/
  --title-color: #bd93f9;
  color: var(--link-visited-color);
    are replaced before the expressions are evaluated
}
  --text-with-main-color: #3c3836;
  --accent-color-hover: #8e24aa;
  --accent-color-light: #66b1f4;
  --accent-color-active: #e69e6b;
  --side-nav-hover-color: #212121;
.mainCatppuccinMochaYellow {
.secSolarizedYellow,
.secSolarizedViolet,
  /* stylelint-enable length-zero-no-unit */
  --accent-color-active: #6ba79f;
  --scrollbar-color-hover: #839496;
.mainRed,
  --accent-color-rgb: 53 167 124;
  --accent-color-light: #dbc050;
  --accent-color-hover: #99dfeb;
}
.mainCatppuccinLatteMauve,

.mainLightGreen,
  --primary-color-active: #b38fdf;
    animation: none !important;
  --secondary-card-bg-color: #282a36;
  --accent-color-light: #d3869b;
  --title-color: #3c3836;
/*************** LEFT-TO-RIGHT AND RIGHT-TO-LEFT RULES ***************/
  --secondary-card-bg-color: #d5c4a1;
  border: 2px solid transparent;

  --accent-color-hover: #b9b93a;

}
  --scrollbar-color-hover: #3d4051;
.secEverforestLightYellow,
  --side-nav-active-color: #3d4051;
  --accent-color-light: #caa9fa;
.mainDraculaRed {
.system[data-system-theme*='light'],
  --secondary-card-bg-color: #3c3836;
}
}
}
WCAG 2 Level AA (https://webaim.org/resources/linkcontrastchecker/?fcolor=FFFFFF&bcolor=DE1C85&lcolor=000000),
}
  --accent-color-active: #6fc5b7;
}
  --accent-color-hover: #68948a;
  --card-bg-color: #000;


  --accent-color-hover: #f0c9c9;
.mainSolarizedBlue,
}
}
  --scrollbar-color: #3f484e;
html[lang='ku'] [data-prefix='fas'][data-icon='circle-question'],
  --accent-color-active: #68948a;
.secSolarizedMagenta {
.mainCatppuccinFrappeMauve {
/* light primary theme colors */
}
.mainSolarizedViolet,
  --scrollbar-color-hover: #4b566a;

  --text-with-main-color: #fff !important;
  --side-nav-active-color: #e2dfcf;

  --accent-color-active: #e66f10;
/* stylelint-enable no-descending-specificity */
}
  --secondary-text-color: #d3c6aa;
  --accent-color-visited: #33691e;

}
/* destructive color in case of conflict with red and purple color themes (sets new destructive color to yellow)
}
  --title-color: #185eb4;
  --primary-color-active: #6a1b9a;
.light {
  --accent-color-visited: #d56c89;
  --accent-color-active: #d3869b;
  --accent-color-visited: #a9a130;
.everforestDarkLow {
.secCatppuccinFrappeSapphire {
  --primary-color-active: #68bcca;
  --logo-icon: url('../../_icons/iconEverforestDarkLowSmall.svg');
  --search-bar-color: #3e3f4a;
}
  --primary-color-active: #f8fb66;
}
.secCatppuccinMochaMauve {
  --favorite-icon-color: #0f0;

  --primary-color: #673ab7;
  --tertiary-text-color: #3c4a52;

  --primary-color-hover: #fb8c00;
}
  --accent-color-hover: #f5c5e9;
  --primary-color-active: #ff8f00;
  --primary-color: #cba6f7;
  --accent-color-active: #a61f1f;
  --primary-color-hover: #f0a4b9;
  --accent-color-rgb: 177 98 134;

  --favorite-icon-color: #0f0;


  --accent-color-rgb: 136 57 239;
  --accent-color-light: #f8d4f0;
  --side-nav-active-color: #131a1e;
  --primary-color-hover: #46abf2;
.secCatppuccinMochaRed {

  --accent-color-light: #a2edfd;
  --side-nav-active-color: #406b76;
  --secondary-card-bg-color: #102b36;
.secCatppuccinFrappeTeal,
  --accent-color-hover: #dca3c0;
}
.secCatppuccinFrappeRosewater,
  --secondary-text-color: #ddd;
  --accent-color-rgb: 180 190 254;
.mainDraculaYellow {
  --accent-color-hover: #f08b8d;
}
}
::-webkit-scrollbar-thumb {
  --accent-color-active: #d88b8e;
  background-clip: padding-box;
  --accent-color-light: #ffcc80;
  --primary-color-hover: #4ac1b8;
  --logo-text: url('../../_icons/textColorSmall.svg');


.mainCatppuccinMochaMaroon {
  --search-bar-color: #262626;
.secCatppuccinMochaSapphire,
  --primary-color: #8be9fd;
  --accent-color-visited: #e65100;
  --accent-color-hover: #a9d7e0;
}
  --text-with-main-color: #fdf6e3;
  --primary-color-hover: #d4b7f8;
  --accent-color-hover: #e77dc9;
  --tertiary-text-color: #d3c6aa;
.mainGruvboxLightPurple {
.secDraculaOrange,
  --accent-color-rgb: 130 201 191;
}
  --accent-color-visited: #6ed166;
  --logo-icon: url('../../_icons/iconNordicLightSmall.svg');
  --primary-color-hover: #a3c5b8;


  /*

  --side-nav-hover-color: #608b96;
  --primary-shadow-color: rgb(255 255 255 / 75%);
  --accent-color-active: #6aaed0;
  --card-bg-color: #2e3440;
.mainCatppuccinFrappeMauve,
  --accent-color-light: #93d4f0;
  --destructive-color: #f44336;
/* light secondary theme colors */
html[lang='ur'] [data-prefix='fas'][data-icon='circle-question'] {
  --destructive-color: #9c27b0;
.secEverforestDarkAqua {
}
  --primary-color-active: #d46b6d;
  --scrollbar-color: #515151;
.mainPink {

.secGruvboxDarkAqua,
  --primary-text-color: #002b36;
  --destructive-hover-color: #8e24aa;
  margin: 0;
.secYellow {
.mainEverforestDarkRed,
  --primary-color-active: #ef7a43;
  --side-nav-active-text-color: #ffff;
  --logo-text-bar-color: url('../../_icons/textCatppuccinLatteLightSmall.svg');

  --primary-color-hover: #ffbf7b;
.secGruvboxDarkOrange {
  overflow: hidden;
  --side-nav-hover-color: #192126;

.mainLime {
  --accent-color-rgb: 232 131 133;
  --logo-icon: url('../../_icons/iconCatppuccinMochaLightSmall.svg');

.mainSolarizedRed {
  --primary-color-active: #283593;
}
  --primary-color-active: #de7693;
  --accent-color-visited: #d78a5b;
  --primary-color-hover: #bfebbb;
}
  --accent-color-visited: #b16286;
.secEverforestLightAqua,
  --search-bar-color: #c9c8b5;
  --accent-color-rgb: 137 220 235;
  --scrollbar-color: #313244;
.secCatppuccinMochaTeal,
  --accent-color-visited: #cc9356;
  --tertiary-text-color: #e5e8f3;
  --primary-color-active: #5a9ec6;
  --accent-color-hover: #62fb88;
}
.mainDeepOrange {
  --scrollbar-color: #a9a895;
/* dark secondary theme colors */
}
.mainEverforestDarkAqua {
.dark,
}
.catppuccinMocha {
  --primary-color: #e69875;
  --accent-color-visited: #6aaed0;
  --accent-color-light: #5ad0a0;
  --accent-color-rgb: 103 58 183;
  --accent-color-opacity2: rgb(var(--accent-color-rgb) / 12%);
.secDeepOrange {
  --accent-color-visited: #d65d0e;
.mainGruvboxDarkAqua,
  --primary-color: #f2d5cf;
.solarizedDark {
.secCatppuccinFrappeMaroon {
.mainSolarizedMagenta {
.secCatppuccinFrappeSky,
